.my-masonry-grid {
  display: flex;
  margin: 10px 20px 10px 20px;

}
.my-masonry-grid_column {
  margin: 0 10px;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements in <masonry> */
  background: #ddd;
  margin-bottom: 20px;
}
.my-masonry-grid_column > div > a{
  padding: 20px;
  display: block;
  color: #333;
  text-decoration: none;
  background-color: #ddd;
}
.my-masonry-grid_column > div > a:hover{
  background-color: #eee;
}
  .character {
    width: 100%;
  }

  .char_name {
    padding: 10px 0;
    font-size: 1rem;
  }

.load_button{
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: 1px solid #303841;
  background-color: #FF5722;
  color: #303841;
  cursor: pointer;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 480px){
  .char_name{
    font-size: .7rem;
    padding: 10px 0 0 0;
  }
  .load_button{
    padding: 7px 18px 7px 18px;
    font-weight: 500;
  }
}