.detail{
    padding-left: 25px;
}
.detail_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.char_details{
    margin-top: 3rem;
    margin-left: 1.8rem;
    width: 50%;
}

.char_details > div {
    margin-top: 0.5rem;
    background-color: #EEEEEE;
    padding: 4px;
    border-radius: 8px;
}

@media only screen and (max-width: 480px){
    .detail_image{
        width: 60%;
    }
    .char_details{
        margin-left: 1rem;
        width: 80%;
    }
    .detail h1 {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 480px){
    .detail_image{
        width: 40%;
    }
}
@media only screen and (min-width: 768px){
    .detail_image{
        width: 30%;
    }
}
@media only screen and (min-width: 1100px){
    .detail_image{
        width: 25%;
    }
}