body {
  padding-bottom: 5rem;
}

nav {
  background-color: #303841;
  margin-top: 0;
  margin-right: 0;
  width: 100%;
}

nav ul {
  margin: 0 0 10px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
  justify-content: space-between;
  
}
nav ul a{
  text-decoration: none;
  color: #FF5722;
}
nav ul a:visited{
  text-decoration: none;
}

nav > ul > div {
  display: flex;
}
nav > ul > div > li {
  align-self: center;
}
nav > ul > div > li:visited{
  text-decoration: none;
}

nav ul li {
  padding: 5px;
}

nav > ul > li:first-child{
  font-size: 1.6rem;
  font-weight: bold;
}

@media only screen and (max-width: 480px){
  nav > ul > li:first-child{
    font-size: 1rem;
  }
  nav > ul > div > li{
    font-size: .7rem;
  }
}